{% extends "Layout/main.html" %} {% block content %}
<section id="result">
  <div class="container">
    <div class="row text-start mb-3">
      <h2 class="fw-bold fs-1">Tweet Anda</h2>
    </div>
    <div class="row justify-content-start">
      <div class="form-group">
        <textarea disabled class="form-control" name="predict" rows="3">{{tweet}}</textarea>
      </div>
    </div>
    <div class="row py-3 fs-5">
      <p>
        target ujaran kebencian adalah <b>individu/kelompok</b>. Jenis Ujaran Kebencian adalah <b>Agama/Ras/Ras/Fisik/Gender/lainnya</b> . Tingkat
        Ujaran Kebencian adalah <b>Lemah/sedang/kuat</b>
      </p>
    </div>
    <div class="row justify-content-start">
      <div class="col mt-3">
        <form class="text-center">
          <button type="submit" href="#result-detail" class="btn btn-primary">hasil lainnya</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section id="result-detail">
  <div class="container">
    <div class="row pt-5">
      <h2 class="fw-bold fs-1">Hasil Prediksi Lainnya</h2>
    </div>

    <!-- target -->
    <div class="row text-start py-3">
      <h5 class="display-5 fw-bold fs-2">Sasaran ujaran kebencian</h5>
    </div>
    <div class="row justify-content-start">
      <div class="col-3">{{target_hs_individu}}</div>
      <div class="col-3">{{target_hs_group}}</div>
    </div>
    <div class="row justify-content-start pb-5">
      <div class="col-3">Individu</div>
      <div class="col-3">Kelompok</div>
    </div>
    <!-- end target -->
    <!-- type -->
    <div class="row text-start py-3">
      <h5 class="display-5 fw-bold fs-2">jenis ujaran kebencian</h5>
    </div>
    <div class="row justify-content-star">
      <div class="col-2">{{type_hs_physical}}</div>
      <div class="col-2">{{type_hs_gender}}</div>
      <div class="col-2">{{target_hs_religion}}</div>
      <div class="col-2">{{type_hs_ras}}</div>
      <div class="col-2">{{type_hs_other}}</div>
    </div>
    <div class="row justify-content-start pb-5">
      <div class="col-2">Fisik</div>
      <div class="col-2">Gender</div>
      <div class="col-2">Agama</div>
      <div class="col-2">Ras</div>
      <div class="col-2">Lainnya</div>
    </div>
    <!-- end type -->
    <!-- levels -->
    <div class="row text-start py-3">
      <h5 class="display-5 fw-bold fs-2">tingkat ujaran kebencian</h5>
    </div>
    <div class="row justify-content-start">
      <div class="col-3">{{level_hs_weak}}</div>
      <div class="col-3">{{level_hs_moderate}}</div>
      <div class="col-3">{{level_hs_strong}}</div>
    </div>
    <div class="row justify-content-start pb-4">
      <div class="col-3">Lemah</div>
      <div class="col-3">Sedang</div>
      <div class="col-3">Kuat</div>
    </div>
    <!-- end level -->
    <!-- back to home -->
    <div class="row justify-content-start">
      <div class="col mt-5">
        <form>
          <button type="submit" class="btn btn-primary">Kembali ke Beranda</button>
        </form>
      </div>
    </div>
    <!-- end button -->
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#0d6efd"
      fill-opacity="1"
      d="M0,128L48,144C96,160,192,192,288,202.7C384,213,480,203,576,218.7C672,235,768,277,864,277.3C960,277,1056,235,1152,213.3C1248,192,1344,192,1392,192L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</section>

{% endblock %}
